<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" type="text/css" href="style.css"/>
    <link rel ="stylesheet" href="bootstrap\css\bootstrap.css"/>
    <title>jQuery - Vue.js</title>


</head>
<body>
	<div id="app" v-cloak>

    	<!-- <pre>{{commits}}</pre> -->
  		<form class="p-3 mb-2 bg-primary text-white">
  				<h1>Activité sur Nantes</h1>
  			<div class="bar">

				<!-- These two buttons switch the layout variable,
			 	which causes the correct UL to be shown. -->

				<a class="list-icon" v-bind:class="{ 'active': layout == 'list'}" v-on:click="layout = 'list'"></a>
				<a class="grid-icon" v-bind:class="{ 'active': layout == 'grid'}" v-on:click="layout = 'grid'"></a>
			</div>
		</form>
  		<table v-if="layout == 'list'">
  			<tr class="p-3 mb-2 bg-info text-white">
  				<th>Nom</th>
  				<th>Date</th>
  				<th>Quartier</th>
  				<th>Adresse</th>
  				<th>Type</th>
  			</tr>    		
      		<tr v-for="record in commits" class="p-3 mb-2 bg-light text-dark">
      			<td>{{ record.fields.nom }}</td>
        		<td>{{ record.fields.date }}</td>
        		<td>{{ record.fields.lieu_quartier }}</td>
        		<td>{{ record.fields.lieu }}</td>
        		<td>{{ record.fields.type }}</td>
        <!-- - <span class="message">{{ record.commit.message }}</span><br>
        by <span class="author"><a :href="record.author.html_url" target="_blank">{{ record.commit.author.name }}</a></span>
        at <span class="date">{{ record.commit.author.date }}</span>
      -->
      		</tr>
  		</table>

  		<ul v-if="layout == 'grid'" class ="grid">
  			<li v-for="record in commits">
  				<img v-bind:src="record.fields.media_1"/>
  			</li>

  		</div>		
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script >
  var apiURL = 'https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_agenda-evenements-nantes-nantes-metropole&facet=emetteur&facet=rubrique&facet=lieu&facet=ville&apikey=51cdd96f1ea9adb442a6a9f1236efdec6011d5693d917003ff408e45';

  var app = new Vue({
  el: '#app',
  data: {
    layout: 'grid',
    commits: null,
  },
  created: function () {
        this.fetchData()
      },
/*  filters: {
  		formatDate: function(date) {
        return new Date(date).format('DD/MM/YYYY');
    },
  },*/
  methods: {
    fetchData: function () {
          var self = this
          axios.get(apiURL).then(function(response){
            console.log(response)
            self.commits = response.data.records
            console.log(self.commits)
          }).catch(function (error) {
            console.log(error);
          })
        },
  }

})
  </script>
</body>
</html>