form{
    	background-color: #61a1bc;
    	border-radius: 2px;
    	box-shadow: 0 1px 1px #ccc;
    	width: 80%;
    	padding: 35px 60px;
    	margin: 100px auto;
    }

/*-------------------------
    	Grid layout
    --------------------------*/

    ul.grid{
    	list-style: none;    	
    	margin: 0 auto;
    	text-align: left;
    }

    ul.grid li{

    	width:280px;
    	height:280px;
    	padding: 2px;
    	float:left;
    }